/*
  Use the following to include this css file
  <link rel="stylesheet" href="style.css" />
*/

body {
  background-color: antiquewhite;
  color: rgb(121, 60, 16);
  max-width: 1200px;
  margin-top: 5%;
  margin-left: 5%;
  padding: 0 20px;
}

body {
  font-family: Segoe UI;
  font-size: 130%;
}

h1 {
  font-size: 300%;
}

.space {
  margin-bottom: 3em;
}

b {
  font-weight: 700;
}

p {
  font-size: 20px;
  font-weight: 500;
}

a {
  font-weight: 400;
}
