/*
  Use the following to include this css file
  <link rel="stylesheet" href="style.css" />
*/

body {
  background-image: url('https://www.bile-karpaty.cz/bile-karpaty');
  color: rgb(121, 60, 16);
  font-family: 'Segoe UI';
  padding: 0 20px;
}

main {
  padding: 3rem;
  border-radius: 50px;
  background-color: antiquewhite;
  backdrop-filter: blur;
}

b {
  font-weight: 700;
}

p {
  font-weight: 500;
}

a {
  font-weight: 400;
}

/* PC and Laptop */
@media (min-width: 769px) {
  body {
    max-width: 1200px;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 130%;
  }
  h1 {
    font-size: 200%;
  }
  .space {
    margin-bottom: 3em;
  }
}

/* Mobiles, Tablets */
@media (max-width: 768px) {
  body {
    max-width: 100%;
    margin-top: 20px;
    margin-left: 0;
    font-size: 125%;    
  }
  h1 {
    font-size: 190%;    
  }
  .space {
    margin-bottom: 2em;
  }
}
